@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
*{
    margin: 0;
}
@font-face {
    font-family: "mp-li";
    src: url(fonts/MPLUS1p-Light.ttf);
}
body{
    background-image: url(images/third.jpg);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
:root{
    --accent-color: #caa012;
}
::selection{
    background-color: var(--accent-color);
}
header{
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    position: fixed;
    width: 100%;
    z-index: 1;
}
header a{
    float: left;
    float: right;
    display: block;
    text-decoration: none;
    color: #dadada;
    padding-left: 5px;
    list-style: none;
    font-family: "Oswald";
    font-size: 30px;
    width: 200px;
    border-left: solid 2px #dadada;
    transition: 0.3s;
}
header a:hover{
    background-color: var(--accent-color);
}
main{
    margin: auto;
    width: 100%;
    height: auto;
}
#space{
    height: 50px;
}
#contentsbox{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    opacity: 0.9;
}
#contentsbox li{
    width: 25vw;
    height: calc(100vh / 3);
    padding: 10px;
    margin-left: 40px;
    border-radius: 30px;
    background-color: #131313;
    border: solid 4px #caa012;
    text-decoration: none;
}
#contentsbox li #title{
    color: #ddd;
    font-size: 40px;
}
#contentsbox li #descrip{
    color: #dadada;
    font-size: 15px;
}