@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
}
body{
    background-image: url(images/third.jpg);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
:root{
    --accent-color: #caa012;
}
::selection{
    background-color: var(--accent-color);
}
header{
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    position: fixed;
    width: 100%;
    z-index: 1;
}
header a{
    float: left;
    float: right;
    display: block;
    text-decoration: none;
    color: #dadada;
    padding-left: 5px;
    list-style: none;
    font-family: "Oswald";
    font-size: 25px;
    width: 180px;
    border-left: solid 2px #dadada;
    transition: 0.3s;
}
header a:hover{
    background-color: var(--accent-color);
}
main{
    margin: auto;
    width: 100%;
    height: auto;
}
#space{
    height: 40px;
}
#contentsbox{
    list-style: none;
    margin: 0 auto;
    width: 60%;
    height: auto;
    opacity: 0.9;
}
#contentsbox li{
    width: 100%;
    height: 30vh;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 30px;
    background-color: #131313;
    border: solid 4px #caa012;
    text-decoration: none;
}
#contentsbox li #title{
    color: #ddd;
    font-size: 60px;
    font-family: "M Plus 1P";
}
#contentsbox li #descrip{
    color: #ddd;
    font-size: 30px;
    font-family: "M Plus 1P Light";
}