@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
*{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-image: url(images/title.png);
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}
    header{
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    position: fixed;
    width: 100%;
    z-index: 1;
}
header a{
    float: left;
    float: right;
    display: block;
    text-decoration: none;
    color: #dadada;
    padding-left: 5px;
    list-style: none;
    font-family: "Oswald";
    font-size: 34px;
    width: 180px;
    border-left: solid 2px #dadada;
    transition: 0.3s;
}
header a:hover{
    background-color: #e4421e;
}
main{
    margin: 0 auto;
    width: 100%;
    height: auto;
}
#space{
    margin: 0;
    padding: 0;
    height: 5vh;
}
#contentsbox{
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#contentsbox a{
    text-shadow: 0 0 10px var(--clr);
    padding: 30px;
    color: #131313;
    font-size: 120px;
    transition: 0.2s;
}
#contentsbox a:hover{
    color: var(--clr);
}