@import url('https://fonts.googleapis.com/css?family=clfon:400,700');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    overflow-x: hidden;
}
body{
    width: 100%;
    font-family: var(--main-font), sans-serif;
}
:root{
    --accent-color: #caa012;
    --main-font : "M Plus 1P Light";
}
::selection{
    background-color: var(--accent-color);
}
header{
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    position: fixed;
    width: 100%;
    z-index: 100;
}
header a{
    float: left;
    float: right;
    display: block;
    text-decoration: none;
    color: #dddddd;
    padding-left: 5px;
    list-style: none;
    font-family: "Oswald";
    font-size: 30px;
    width: 200px;
    border-left: solid 2px #dddddd;
    transition: 0.3s;
}
header a:hover{
    background-color: var(--accent-color);
}
main{
    margin: auto;
    width: auto;
    z-index: 2;
}
#top{
    position: relative;
    background-image: url(images/cardback.jpg);
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    transform-origin: center;
    z-index: -1;
}
#top img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    animation-name: logofadeup;
    animation-duration: 1.5s;
}
@keyframes logofadeup{
    from{
        opacity: 0;
        transform: translateX(1000px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
#second{
    text-align: center;
    background-color: #131313;
    width: 100vw;
    height: auto;
    z-index: 1;
}
#secondl{
    text-align: center;
    background-color: #dddddd;
    float: left;
    width: 60vw;
    height: 100vh;
}
#description p{
    font-family: var(--main-font) , serif;
    padding-top: 60px;
    font-size: 30px;
    color: #131313;
}
#profile-navi{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 25%;
    height: auto;
    padding: 20px;
    text-align: center;
    outline: none;
    margin-top: 200px;
    background-color: #131313;
    font-size: 25px;
    transition: ease 0.2s;
}
#profile-navi span{
    position: relative;
    z-index: 5;
    color: #dadada;
}
#profile-navi:hover span{
    color: #dadada;
}
#profile-navi:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    z-index: 2;
}
#profile-navi:hover:before{
    transform-origin:left top;
    transform:scale(1, 1);
}
#secondr{
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    z-index: 1;
    animation: backfadeup 10s linear infinite;
}
@keyframes backfadeup{
    50%{
        background-color: #dadada;
    }
    100%{
        background-color: #131313;
    }
}
#secondr img{
    width: 30vw;
    height: auto;
    z-index: 11;
    animation: iconrotating 5s linear infinite;
}
@keyframes iconrotating{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
#third{
    background-image: url(images/third.jpg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
#description2 p{
    padding-top: 100px;
    color: #dadada;
    font-size: 45px;
    font-family: var(--main-font) , serif;
}
#news-navi{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 210px;
    height: auto;
    padding: 20px;
    text-align: center;
    outline: none;
    margin-top: 200px;
    background-color: #131313;
    border: solid 1px #dadada;
    font-size: 25px;
    transition: ease 0.2s;
}
#news-navi span{
    position: relative;
    z-index: 5;
    color: #dadada;
}
#news-navi:hover span{
    color: #dadada;
}
#news-navi:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    z-index: 2;
}
#news-navi:hover:before{
    transform-origin:left top;
    transform:scale(1, 1);
}
#fourth{
    text-align: center;
    float: left;
    background-color: #131313;
    width: 100%;
    height: 100vh;
}
#fourthl{
    background: linear-gradient(90deg, var(--accent-color), #131313);
    float: left;
    width: 40%;
    height: 100%;
}
#fourthr{
    width: 60%;
    height: 100%;
}
#description3 p{
    padding-top: 200px;
    color: #dadada;
    font-size: 50px;
    font-family: var(--main-font) , serif;
}
#sns-navi{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 210px;
    height: auto;
    padding: 20px;
    text-align: center;
    outline: none;
    margin-top: 250px;
    background-color: #131313;
    border: solid 1px #dadada;
    font-size: 25px;
    transition: ease 0.2s;
}
#sns-navi span{
    position: relative;
    z-index: 5;
    color: #dadada;
}
#sns-navi:hover span{
    color: #dadada;
}
#sns-navi:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    z-index: 2;
}
#sns-navi:hover:before{
    transform-origin:left top;
    transform:scale(1, 1);
}