@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css2?family=mp-li:wght@300&family=Tilt+Warp&display=swap');
@font-face {
    font-family: "mp-li";
    src: url(fonts/MPLUS1p-Light.ttf);
}
*{
    margin: 0;
    overflow-x: hidden;
}
body{
    width: 100%;
    font-family: "mp-li", sans-serif;
}
:root{
    --accent-color: #caa012;
}
::selection{
    background-color: var(--accent-color);
}
header{
    -webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
    position: fixed;
    width: 100%;
    z-index: 100;
}
header a{
    float: left;
    float: right;
    display: block;
    text-decoration: none;
    color: #dddddd;
    padding-left: 5px;
    list-style: none;
    font-family: "Oswald";
    font-size: 30px;
    width: 100px;
    border-left: solid 2px #dddddd;
    transition: 0.2s;
}
header a:hover{
    background-color: var(--accent-color);
}
main{
    margin: auto;
    width: auto;
    z-index: 2;
}
#top{
    position: relative;
    background-image: url(images/cardback.jpg);
    top: 0;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    transform-origin: center;
    z-index: -1;
}
#top img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 10%;
    animation-name: logofadeup;
    animation-duration: 1.5s;
}
@keyframes logofadeup{
    from{
        color: #000000;
        opacity: 0;
        transform: translateX(500px);
    }
    to{
        color: #dddddd;
        opacity: 1;
        transform: translateX(0);
    }
}
#second{
    text-align: center;
    background-color: #131313;
    width: 100%;
    height: auto;
}
#secondl{
    text-align: center;
    background-color: #dddddd;
    float: left;
    width: 100%;
    height: 30vh;
}
#description p{
    font-family: 'mp-li' , serif;
    font-size: 25px;
    color: #131313;
}
#profile-navi{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 180px;
    height: auto;
    padding: 20px;
    margin: 40px;
    text-align: center;
    outline: none;
    background-color: #131313;
    font-size: 25px;
    transition: ease 0.2s;
}
#profile-navi span{
    position: relative;
    z-index: 5;
    color: #dadada;
}
#profile-navi:hover span{
    color: #dadada;
}
#profile-navi:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    z-index: 2;
}
#profile-navi:hover:before{
    transform-origin:left top;
    transform:scale(1, 1);
}
#third{
    background-image: url(images/third.jpg);
    width: 100%;
    height: 50vh;
    margin: 0;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
#description2 p{
    padding-top: 100px;
    color: #dadada;
    font-size: 25px;
    font-family: 'mp-li' , serif;
}
#news-navi{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 180px;
    padding: 20px;
    margin: 40px;
    text-align: center;
    outline: none;
    background-color: #131313;
    border: solid 1px #dadada;
    font-size: 25px;
    transition: ease 0.2s;
}
#news-navi span{
    position: relative;
    z-index: 5;
    color: #dadada;
}
#news-navi:hover span{
    color: #dadada;
}
#news-navi:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    z-index: 2;
}
#news-navi:hover:before{
    transform-origin:left top;
    transform:scale(1, 1);
}
#fourth{
    text-align: center;
    float: left;
    background-color: #131313;
    width: 100%;
    height: auto;
}
#fourthl{
    background: linear-gradient(180deg, var(--accent-color), #131313);
    float: left;
    width: 100%;
    height: 20vh;
}
#fourthr{
    width: 100%;
    height: 30vh;
    margin: 0;
}
#description3 p{
    color: #dadada;
    font-size: 25px;
    font-family: 'mp-li' , serif;
}
#sns-navi{
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 180px;
    padding: 20px;
    margin: 35px;
    text-align: center;
    outline: none;
    background-color: #131313;
    border: solid 1px #dadada;
    font-size: 25px;
    transition: ease 0.2s;
}
#sns-navi span{
    position: relative;
    z-index: 5;
    color: #dadada;
}
#sns-navi:hover span{
    color: #dadada;
}
#sns-navi:before{
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1) 0s;
    transform: scale(0, 1);
    transform-origin: right top;
    z-index: 2;
}
#sns-navi:hover:before{
    transform-origin:left top;
    transform:scale(1, 1);
}